<h1>ユーザー詳細ページ</h1>
<p><%= @user.name %>,<%= @user.email %></p>

<%= form_with(url: user_points_path(@user), local: true) do |form| %>
    <div>
      <%= label_tag :add, "加算するポイント数:" %>
      <%= number_field_tag :add, nil, min: 1 %>
    </div>
    <div>
      <%= submit_tag "加算" %>
    </div>
  <% end %>
  
  <div>
    <h3>合計ポイント: <%= @user.points.sum(:add) %></h3>
  </div>
