<div id="<%= dom_id post %>">
  <div class="flex flex-wrap justify-center">
    <div class="bg-red-50 shadow-md rounded-lg m-4 p-6 max-w-xs">
    <p><%= cl_image_tag(post.post_image) %></p>
      <p><%= post.content %></p>
      <% post.tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
      <p>
      <%= link_to "look this post", post %>
      </p>
    </div>
  </div>
</div>
