<% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
<% end %>

    
<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="font-black color">
<h1>投稿一覧</h1>
</div>

<div class="flex justify-center grid grid-cols-4 gap-5">
  <% @posts.each do |post| %>
    <%= render post %>
   
  <% end %>
  
</div>

<%= link_to "New post", new_post_path %>
<%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', logout_path, class: 'btn btn-primary' %>
<%= link_to 'ユーザー登録', users_new_path, class: 'btn btn-primary' %>
<%= link_to 'ユーザー一覧', users_path, class: 'btn btn-primary' %>
<%= link_to 'ポイント', users_path, class: 'btn btn-primary' %>
<div class = "content object-right">
  <div class = "text-left">
    <ul>
      <%= link_to '全ての投稿', posts_path, class: 'btn btn-primary' %>
    </ul>
    <ul>
      <% @tags.each do |tag| %>
        <li><%= link_to "#{tag.name}", posts_path(tag_id: tag.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

