<% if flash[:success] %>
        <div class="alert alert-success">
            <%= flash[:success] %>
        </div>
<% end %>

    
<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="font-black color">
<h1>投稿一覧</h1>
</div>

<div class="flex justify-center">
  <% @posts.each do |post| %>
    <%= render post %>
   
  <% end %>
  
</div>

<%= link_to "New post", new_post_path %>
<%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', logout_path, class: 'btn btn-primary' %>